

<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nom</th>
    <th scope="col" class="desktop">Prenom</th>
    <th scope="col" class="desktop">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let eleve of eleves"> <!--| employeeFilterPipe:searchText-->
    <td>{{eleve.id}}</td>
    <td>{{eleve.nom}}</td>
    <td class="desktop">{{eleve.prenom}}</td>
    <td class="desktop">{{eleve.email}}</td>
    <td>
      <button class="btn" [routerLink]="['/eleve/edit', eleve.id]">Modifier</button>
      <button class="btn" (click)="deleteEleve(eleve.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
  <button class="btn btn-warning" [routerLink]="['/eleve/add']">Ajouter un Eleve</button>
</table>

<img src="assets/logo.png" alt="logo" class="logo">

<footer class="footer"></footer>
